{% extends "layout.html.twig" %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
<p>
    <h2>{{ book.title }}</h2>
    <ul>
     {% if book.author%}
        <li>Auteur : {{ book.author.firstName }} {{ book.author.lastName }}</li>
        <li>ISBN : {{ book.isbn }}</li>
    {% else %}
        <li>No author recorded.</li>
    {% endif %}
    </ul>
    <p>
        {{ book.summary }}
    </p>
</p>
{% endblock %}