{% extends "layout.html.twig" %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
<p>
    <h2>{{ book.title }}</h2>
    <ul>
     {% for author in author %}
        <li>{{ author.firstName }} {{ author.lastName }}</li>
        <li>ISBN : {{ author.isbn }}</li>
    {% else %}
        <li>No author recorded.</li>
    {% endfor %}
    </ul>
    <p>
        {{ book.summary }}
    </p>
</p>
{% endblock %}